<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Add Product</title>
</head>
<body>
    <header>
    <div class="container">
            <a href="/homepage"><img src="/logo.png" alt="logo" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="/homepage">Home</a></li>
                    <li><a href="/sanpham">Product</a></li>
                    <li><a href="/nhanvien">Employee</a></li>
                    <li><a href="/index/about">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="wrapper">
        <div class="contact-form"> 
            <form class="input-fields" enctype="multipart/form-data" action="insert" method="POST">
                <input type="hidden" name="id" value="{{sanPham._id}}">
                Product Name <input type="text" class="input" name="ProductName">
                <br>
                Origin <input type="text"class="input" name="Origin">
                <br>
                Price <input type="text" class="input" name="Price"> 
                <br>
                Status <input type="text" class="input" name="Status">
                <br>
                <input style="margin-top: -8px;" type="file" name="picture" accept="image/*">
                <input type="submit" class="button" value="Insert SP">
            </form>
        </div>
    </div>
</body>
</html>